@model IEnumerable<Affectation>

@{
    var tacheId = ViewBag.TacheId;
    var projetId = ViewBag.ProjetId;
    var utilisateurslist = ViewBag.listu;
}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Liste des Affectations</h2>

    <div class="mb-3">
        <a asp-controller="Tache" asp-action="Index" asp-route-projetId="@projetId" class="btn btn-primary me-2">
            Voir Tâches
        </a>
        <a asp-action="Create" asp-route-tacheId="@tacheId" class="btn btn-success">
            Ajouter une Affectation
        </a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Nom Personne</th>
                <th>Date Affectation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var affectation in Model)
            {
                <tr>
                    <td>@affectation.utilisateur.nom</td>
                    <td>@affectation.dateaffectation.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-action="Delete"
                           asp-route-id="@affectation.id"
                           asp-route-tacheId="@tacheId"
                           class="btn btn-sm btn-outline-danger">
                            Supprimer
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
